<div class="page-header">
  <h1>Extract a PDF</h1>
</div>

<div class="input-group">
	<input ng-model="extractFileUrl"
		   type="text" class="form-control" placeholder="Enter a URL to a PDF file" aria-describedby="basic-addon1">
         <span class="input-group-btn">
        <button ng-click="extractFile(extractFileUrl)"
				class="btn btn-primary" type="button">Extract</button>
	</span>
</div>

<h5>Results (<a ng-click="extractFileResult = ''" href="">Clear</a>)</h5>

<div ng-show="showProgress" class="col-sm-4"><uib-progressbar class="progress-striped active"><i>Extracting</i></uib-progressbar></div>

<ol>
	<li ng-repeat="item in extractFileResult">
		<i>{{item.publication.title}} </i>({{item.publication.year}}, {{item.journal_name}})<br>
		<span ng-repeat="author in item.authors">{{author}} &middot; </span>
	</li>
</ol>