# Temp files
downloads/
*.sqlite3
db.sqlite3-journal

############
## Python
############
 
*.pyc
__pycache__/

############
## Eclipse PyDev
############
 
.settings/
.project
.pydevproject