Django==1.9.4
requests==2.9.1
subprocess32==3.2.7
#pyOpenSSL==0.13
#pyasn1==0.1.9
#ndg-httpsclient==0.4.0

# xml, oai
beautifulsoup4==4.4.1
lxml==3.5.0
Sickle==0.5

# database
psycopg2==2.6.1

# rest
Markdown==2.6.5
djangorestframework==3.3.2

# asyn tasks
celery==3.1.22
django-celery==3.1.17

# parsing human names
nameparser==0.3.13

# debug/development only
django-extensions==1.6.1
django-cors-headers==1.1.0