args==0.1.0
beautifulsoup4==4.4.1
bibtexparser==0.6.1
clint==0.5.1
Django==1.8.5
lxml==3.4.4
MySQL-python==1.2.5
plumbum==1.6.0
pprintpp==0.2.3
pyoai==2.4.4
requests==2.8.1
Sickle==0.4
subprocess32==3.2.7
Unidecode==0.4.18
wheel==0.26.0
