<div class="page-header">
	<h1>Author Name</h1>
</div>

<h3>Parse human name</h3>
<p>Parse a human name into it's parts. For example try: <i>Dr. Juan Q. Xavier de la Vega III (Doc Vega)</i></p>
<form class="form-horizontal" ng-submit="parsename(name, normalize)">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input ng-model="name" type="text" class="form-control" id="name" placeholder="Enter a human name">
		</div>
	</div>
	<div class="form-group">
		<label for="normalize" class="col-sm-2 control-label">Normalize</label>
		<div class="col-sm-10">
			<input ng-model="normalize" type="checkbox" value="true">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Parse</button>
		</div>
	</div>
</form>

<div ng-show="parsedName">
	<h4>Result (<a href="" ng-click="parsedName = undefined">Clear</a>)</h4>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>First</th>
			<th>Middle</th>
			<th>Last</th>
			<th>Suffix</th>
			<th>Nickname</th>
		</tr>
		<tr>
			<td>{{parsedName.title}}</td>
			<td>{{parsedName.first}}</td>
			<td>{{parsedName.middle}}</td>
			<td>{{parsedName.last}}</td>
			<td>{{parsedName.suffix}}</td>
			<td>{{parsedName.nickname}}</td>
		</tr>
	</table>
</div>


