<div class="page-header">
	<h1>Extract a PDF</h1>
</div>

<form class="form-horizontal" ng-submit="extractFile(taskExtractor, taskFileUrl)">
	<div class="form-group">
		<label for="taskExtractor" class="col-sm-2 control-label">Extractor</label>
		<div class="col-sm-10">
			<select ng-model="taskExtractor"
					ng-options="option.id as option.label for option in extractors"
					id="taskExtractor" class="form-control">
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="taskFileUrl" class="col-sm-2 control-label">URL</label>
		<div class="col-sm-10">
			<input ng-model="taskFileUrl"
				   type="url" class="form-control" id="taskFileUrl" placeholder="Enter a URL to a PDF file">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Extract</button>
		</div>
	</div>
</form>

<h3>Results (<a ng-click="extractFileDocumentMeta = ''; showProgress = false;" href="">Clear</a>)</h3>
<div ng-show="showProgress" class="col-sm-4"><uib-progressbar class="progress-striped active"><i>Extracting</i></uib-progressbar></div>

<div ng-show="extractFileDocumentMeta">
	<h4>Document</h4>
	<listpublication item="extractFileDocumentMeta"></listpublication>

	<h4>References</h4>
	<ol>
		<li ng-repeat="item in extractFileReferences">
			<listpublication item="item"></listpublication>
		</li>
	</ol>
</div>