<div class="page-header">
	<h1>Find a PDF</h1>
</div>

<h3>Find PDFs on a HTML page</h3>
<p>For example try: <i>http://www.ronpub.com/publications/ojwt/OJWT_2014v1i2n02_Kusserow.html</i></p>
<div class="input-group">
	<input ng-model="htmlParserUrl"
		   type="text" class="form-control" placeholder="Enter a URL" aria-describedby="basic-addon1">
		<span class="input-group-btn">
			<button ng-click="htmlParser(htmlParserUrl)"
					class="btn btn-primary" type="button">Search</button>
    </span>
</div>
<h5>Results (<a ng-click="htmlParserResult = []" href="">Clear</a>)</h5>
<ul>
	<li ng-repeat="item in htmlParserResult"><a ng-href="{{item}}" href="" target="_blank">{{item}}</a></li>
</ul>

<h3>Find PDF on the web</h3>
<p>For example try: <i>A Bayesian approach to star-galaxy classification</i>
<div class="input-group">
	<input ng-model="searchEngineKeywords"
		   type="text" class="form-control" placeholder="Enter title of the publication" aria-describedby="basic-addon1">
    <span class="input-group-btn">
        <button ng-click="searchEngine(searchEngineKeywords)"
				class="btn btn-primary" type="button">Search</button>
    </span>
</div>
<h5>Results (<a ng-click="searchEngineResult = []" href="">Clear</a>)</h5>
<ul>
	<li ng-repeat="item in searchEngineResult"><span ng-if="item.type">{{item.type | uppercase}}</span> <a ng-href="{{item.url}}" href="" target="_blank">{{item.title}}</a><br>
		Matching keywords: {{item.title_matching}}</li>
</ul>