<div class="page-header">
	<h1>Find Citations</h1>
</div>

<div>
	<button type="button" class="btn btn-default btn-sm" ng-click="isCollapsed = !isCollapsed">Search citations</button>	
</div>
<div uib-collapse="isCollapsed">
	<form class="form-horizontal" ng-submit="submitTask(taskType, taskEntityName, taskEntityId, taskStrategy)">
		<div class="form-group">
			<label for="taskType" class="col-sm-2 control-label">Type</label>
			<div class="col-sm-10">
				<select ng-model="taskType"
						id="taskType" class="form-control">
					<option value="author">Author</option>
					<option value="conference">Conference</option>
					<option value="journal">Journal</option>				
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="taskEntityName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input ng-model="taskEntityName" 
					   type="text" class="form-control" id="taskEntityName" placeholder="Enter a name, e.g. an author">
			</div>
		</div>
		<div class="form-group">
			<label for="taskEntityId" class="col-sm-2 control-label">ID</label>
			<div class="col-sm-10">
				<input ng-model="taskEntityId"
					   type="number" class="form-control" id="taskEntityId" placeholder="Or enter an ID, e.g. author ID">
			</div>
		</div>
		<div class="form-group">
			<label for="taskStrategy" class="col-sm-2 control-label">Search strategy</label> 
			<div class="col-sm-10">
				<textarea ng-model="taskStrategy"
						  class="form-control" rows="3" id="taskStrategy" placeholder="Optional enter a strategy, e.g. [AuthorStrategy(ordered=True)]"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-primary">Create task</button>
			</div>
		</div>
	</form>	
</div>


<h3>Current task</h3>
<listtasks tasktype="citation/find" taskstatuscallback="getTask"></listtasks>


<h3>Display task # {{task.id}}</h3>
<span ng-show="task.status == 'FAILURE'">
	Traceback:
	<textarea class="form-control" rows="10">{{task.traceback}}</textarea>
</span>
<span ng-show="task.status == 'SUCCESS'">
	<button type="button" class="btn btn-default btn-sm" ng-click="isCollapsed = !isCollapsed">Export as SCF-JSON</button>
	<br>
	<div uib-collapse="isCollapsed">
		<textarea class="form-control" rows="10">{{task.result}}</textarea>	
	</div>
	<br>
	Result:
	<ol>
		<li ng-repeat="item in task.result track by $index">
			<i>{{item.title}}</i>, {{item.year}}
			<ol>
				<li ng-repeat="citation in item.citations track by $index">
					<i>{{citation.title}}</i>, {{citation.year}}
				</li>
			</ol>
		</li>
	</ol>
</span>