<div class="container">
	<div class="jumbotron">
		<h1>Scholarly Citation Finder</h1>
		<p>A framework for finding citations of scholarly publications</p>
		<p>
			<a class="btn btn-primary btn-lg" href="https://github.com/citationfinder" target="_blank" role="button">Code on GitHub</a>
			<a class="btn btn-primary btn-lg" href="http://scholarly-citation-finder.readthedocs.org/" target="_blank" role="button">View documentation</a>
		</p>
	</div>
</div>
<!--
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Tools</h2>
			<p>Use the tools to find documents, extract them</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-md-4">
			<h2>Harvester</h2>
			<p>Use a harvester to collect metadata from </p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
		<div class="col-md-4">
			<h2>Find Citations</h2>
			<p>Use the tools to find documents, extract them</p>
			<p><a class="btn btn-default" href="#" role="button">View details »</a></p>
		</div>
	</div>
</div>
-->
