<div class="page-header">
	<h1>Publications</h1>
</div>

<div ng-show="publicationResult">
	<h4>{{publicationResult.title}}</h4>
	<button type="button" class="btn btn-primary btn-sm" ng-click="isCollapsed = !isCollapsed">Export as SCF-JSON</button>
	<br>
	<br>
	<div uib-collapse="isCollapsed">
		<textarea class="form-control" rows="20">
{
	"type": "{{publicationResult.type}}"
	"title": "{{publicationResult.title}}"
	"journal_name": "{{publicationResult.journal_name}}"
	"booktitle": "{{publicationResult.booktitle}}"
	"publisher": "{{publicationResult.publisher}}"
	"year": "{{publicationResult.year}}"
	"volume": "{{publicationResult.year}}"
	"pages_from": "{{publicationResult.pages_from}}"
	"pages_to": "{{publicationResult.pages_to}}"
	"number": "{{publicationResult.number}}"
	"series": "{{publicationResult.series}}"
	"abstract": "{{publicationResult.abstract}}"
	"copyright": "{{publicationResult.copyright}}"
	"doi": "{{publicationResult.doi}}"
	"isbn": "{{publicationResult.isbn}}"
}
		</textarea>
	</div>
</div>