{% include "navbar.html" %}

{% if publication %}
	<h2>{{ publication.title }}</h2>
	{% include "publications/item.html" with item=publication %}
	<h3>Urls ({{urls|length}})</h3>
	{% if urls %}
		<ul>
		{% for i in urls %}
			<li>{% include "urls/item.html" with item=i %}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<h3>References ({{references|length}})</h3>
	{% if references %}
		<ul>
		{% for i in references %}
			<li>{% include "citations/reference_item.html" with item=i.reference %}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<h3>Citations ({{citations|length}})</h3>
	{% if citations %}
		<ul>
		{% for i in citations %}
			<li>{% include "citations/reference_item.html" with item=i.publication %}</li>
		{% endfor %}
		</ul>
	{% endif %}

	<h3>Ask others</h3>
	<ul>
		<li><a href="http://www.bing.com/search?q=filetype%3Apdf+{{ publication.title }}" target="_blank">Bing</a></li>
		<li><a href="https://www.google.de/#q=filetype:pdf+{{ publication.title }}" target="_blank">Google</a></li>
		<li><a href="https://scholar.google.de/scholar?q={{ publication.title }}" target="_blank">Google Scholar</a></li>			
		<li><a href="http://academic.research.microsoft.com/search?query={{ publication.title }}" target="_blank">Microsoft Academic Search</a></li>
	</ul>

{% else %}
	<h2>Not found</h2>
{% endif %}