<a href="/frontend/publications/{{item.id}}">{{item.title}}</a> {{booktitle.booktitle}}
{% if item.citeseerx_id %}
	@<a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi={{item.citeseerx_id}}" target="_blank">CiteSeerX</a>
{% endif %}
{% if item.dblp_id %}
	@<a href="http://dblp.uni-trier.de/rec/html/{{item.dblp_id}}" target="_blank">DBLP</a>
{% endif %}
{% if item.arxiv_id %}
	@<a href="http://arxiv.org/abs/{{item.arxiv_id}}" target="_blank">ArXiv</a>
{% endif %}
<br>
{% for author in item.authors.all %}
	{% include "authors/item.html" with item=author %},
{% endfor %}<br>
{% if item.abstract %}
	<p><i>{{item.abstract}}</i></p>
{% endif %}
<p style="color:grey">date: {{item.date}}, journal: {{item.journal}}, volume: {{item.volume}}, numer: {{item.number}}, pages: {{item.pages_from}}--{{item.pages_to}}, series: {{item.series}}<br>
publisher: {{item.publisher}}, isbn: {{item.isbn}}, doi: <a href="http://dx.doi.org/{{item.doi}}" target="_blank">{{item.doi}}</a></p>